@import "tailwindcss";

@font-face {
  font-family: 'grotesque';
  src: url('/darker-grotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.grotesque {
	font-family: 'grotesque', chiller;
}
